body{
    background-color: whitesmoke;
    width: 100%;
    height: auto;
}
.main{
    background-color: #383D1E;
    width: 1100px;
    height: 100vh;
    box-shadow: 0px 0px 4px black;
    margin-left: 100px;
}
.header p{
    font-size: bold;
    font-size: 34px;
}
.header span{
    position: absolute;
    margin-left: 500px;
    font-size: 34px;
    bottom: 550px;
}
.header img{
    cursor: pointer;
    position: absolute;
    width: 70px;
    height: 50px;
    margin-left: 1000px;
    bottom: 540px;
}
.header ul{
    position: absolute;
    margin-left: 980px;
    text-decoration: none;
    background:  #F59604;
    width: 60px;
    bottom: 339px;
    height: 170px;
    border-radius: 10px;
    /* list-style-type: none; */
}
li a{
    position: absolute;
    text-decoration: none;
    color: black;
    /* background-color: aqua; */
    right: 30px;
    display: block;
}
#Music{
    position: absolute;
    margin-left: 40px;  
    list-style-type: none;
}
#Sound{
    position: absolute;
    margin-left: 40px;
    margin-top: 60px;
    list-style-type: none;
}
#help{
    position: absolute;
    margin-left: 30px;
    margin-top: 100px;
    list-style-type: none;
}

#lang{
    position: absolute;
    margin-left: 60px;
    margin-top: 140px;
    list-style-type: none;
}
ul li{
    margin-top: 20px;
    margin-right: 20px;
}
#dropdownMenu{
    display: none;
}
#dropdownMenu.show{
    display: block;
}

.namer p{
    text-align: center;
    margin-top: 180px;
    font-size: 90px;
    color: #9FA4A8;
}   
.name p{
    text-align: center;
    margin-left: 80px;
    margin-top: 10px;
    font-size: 20px;
    color: #9FA4A8;
    max-width: 900px;
    justify-items: stretch;
}
.player{
    text-align: center;
    margin-top: 200px;
    border-radius: 20px;
}
button{
    width: 200px;
    height: 50px;
    background-color: #8B5D00;
    border: black solid;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0px 0px 5px black;
}
.restart-button-div{
    text-align: center;
    margin-top: 40px;
}
.game-board {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    background-color: #A1887F;
    background-image: url("images/Hardelz.png");
    border-radius: 0.3em;
    box-shadow: 0 5px 5px #808080;
    margin-top: 70px;
}
.game-grid-row {
    display: flex;
    flex-wrap: nowrap;
}

.game-card {
    width: 10.5em;
    height: 12.5em;
    /* background-color: #F59604; */
    background-image: url("../images/Hardelz.png");
    background-size: cover;
    border-radius: 0.3em;
    margin: 0.8em;
    box-shadow: 2px 0 10px #212121;
    cursor: pointer;
}

.game-card-img {
    visibility: hidden;
    object-fit: cover;
    width: 10.5em;
    height: 12.5em;
}
.show-img {
    visibility: visible;
    animation: animateShowImage 0.4s linear alternate;
}
#btn{
    position: absolute;
    text-align: center;
}
