.class-scrolling{
    overflow: hidden;
}
.state-scrolling{
    display: flex;
    animation: keyScolling 10s linear infinite;
    overflow: hidden;
}
@keyframes keyScolling {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}